/* général.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #156193;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  min-height: 80vh;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* navigation.css */
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* footer.css */
footer {
  background-color: #156193;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.conteneur {
  width: 300px;
  margin: 0 auto;
  border: 1px solid lightslategrey;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* boutons.css */
.btn {
  display: inline-block;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid lightslategrey;
  border-radius: 5px;

  text-align: start;
  font-size: inherit;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btn.vert {
  background-color: #2ecc71;
  &:hover {
    background-color: #1aa052;
  }
}
.btn.rouge {
  background-color: #cc2e5d;
  &:hover {
    background-color: #a70e3c;
  }
}
.btn.bleu {
  background-color: #2980b9;
  &:hover {
    background-color: #156193;
  }
}

/* formulaire.css */
form {
  padding: 20px;
  border-radius: 6px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  box-sizing: border-box;
}

form input,
form select,
form button,
form .btn {
  display: inline-block;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid lightslategrey;
  border-radius: 5px;
  box-sizing: border-box;
}

form input,
form select {
  width: 100%;
}

form label {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #2980b9;
  color: white;
}

td:last-child {
  white-space: nowrap;
}
